<div class="mf-container">
  <div class="header">
    <div class="col-xs-6 br-r">
      <p>Animals</p>
      <button mat-mini-fab color="primary" class="pull-right" (click)="onAddBaseArray()" *ngIf="userLevel=='teacher'">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-xs-6">
      <p>Homes</p>
      <button mat-mini-fab color="primary" class="pull-right" (click)="onAddMatchedArray()" *ngIf="userLevel=='teacher'">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div>
    <ul class="col-xs-6 data" dnd-sortable-container [sortableData]="baseArray"  [dropZones]="['zone1']">
      <li *ngFor="let base of baseArray; let i = index;" dnd-sortable  [dragEnabled]="userLevel=='teacher'" [sortableIndex]="i">
        <mat-form-field class="example-full-width col-xs-12" [@itemAnim]>
          <span matPrefix>{{i+1}}. &nbsp;</span>
          <mat-select [(ngModel)]="base.content" [disabled]="userLevel=='student'">
            <mat-option *ngFor="let animal of animals" [value]="animal.value" [class.hidden]='checkAnimalsSelected(animal.value)'>
              {{ animal.name }}
            </mat-option>
          </mat-select>
          <span matSuffix aria-label="Clear">
            <i *ngIf="base.matched === true" class="fa fa-check" aria-hidden="true"></i>
            <i *ngIf="base.matched === false" class="fa fa-times red" aria-hidden="true"></i>
          </span>
        </mat-form-field>
        <div class="clearfix"></div>
      </li>
    </ul>
    <ul class="col-xs-6 data" dnd-sortable-container [sortableData]="toBeMatchedArray" [dropZones]="['zone2S']">
      <li *ngFor="let matched of toBeMatchedArray; let i = index;" dnd-sortable [sortableIndex]="i">
        <mat-form-field class="example-full-width col-xs-12" [@itemAnim]>
          <span matPrefix>{{i+1}}. &nbsp;</span>
          <mat-select [(ngModel)]="matched.content"  [disabled]="userLevel=='student'">
            <mat-option *ngFor="let home of homes" [value]="home.value" [class.hidden]='checkHomesSelected(home.value)'>
              {{ home.name }}
            </mat-option>
          </mat-select>
          <span matSuffix aria-label="Clear">
            <i *ngIf="matched.matched === true" class="fa fa-check" aria-hidden="true"></i>
            <i *ngIf="matched.matched === false" class="fa fa-times red" aria-hidden="true"></i>
          </span>
        </mat-form-field>
        <div class="clearfix"></div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="footer col-xs-12">
    <div class="col-xs-4">
      <button mat-raised-button color="warn" (click)="onReorder()">
        <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
        Reorder
      </button>
    </div>
    <div class="col-xs-4">
      <button mat-raised-button *ngIf="userLevel=='student'" color="primary" (click)="onCheckMatch()">
        <i class="fa fa-check" aria-hidden="true"></i>
        Check
      </button>
      <button mat-raised-button color="primary" *ngIf="userLevel=='teacher'" (click)="goToStudentView()">
        <i class="fa fa-check" aria-hidden="true"></i>
        Preview
      </button>
    </div>
    <div class="col-xs-4">
      <button mat-raised-button color="warn" (click)="onReset()"  [disabled]="userLevel=='student'">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        Reset
      </button>
    </div>
  </div>
</div>

